@import url('home.css');
@import url('authentication.css');
@import url('paginas.css');

*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
body{
  background-color: #EFEFEF;
}
footer{
  height:100px; 
  background-color:#07C2FE; 
  color:#fff;
}

.nav-main{
  background-color: #07C2FE;
}
.nav-main nav div ul li a{
  color: #ffffff;
  font-weight: 700px;
  font-size: 20px;
}

.logo{
  margin-top: 25px;
}
.group{
	align-items: center;
}
.group button{
  border: none;
  background-color: #07C2FE;
}
.group button img{
width: 30px;
height: 30px;
}
.cart-img{
  margin-left: 30px;
  margin-bottom: 4px;
}
.perfil-img li a img{
  width:37px ; 
  height:37px; 
  margin-top:28px ; 
  margin-left:20px;
}
.perfil-img li a div p{
  color: #ffffff;
  margin-top: 10px;
 
}
.dd{
  font-size:15px ; margin-left:4px;
}
.dd2{
  font-size:15px ; margin-left:4px; padding-top: 15px;
}
.dropdown:hover .dropdown-menu {
	display: block;
	position: absolute;
	transform: translate3d(20px, 60px, 100px); 
	top: -23px;
	left: 0px;
  right: 50px;
	will-change: transform;
}
.dropdown {
	display: inline-block; 
	list-style: none; 
}

.shop-title{
 
  padding: 20px 0px;
  
}
.shop-title h4{
  margin-left: 100px;
  margin-bottom: 8px;
}
.shop-title a{
  text-decoration: none;
  margin-right: 5px;
  color: black;
}
.shop-subtitle{
  margin-left: 100px;
  width:1100px ;
}

.shop-title .detalhe{
  margin-left: 5px;
  color:#b7b7b7; 
}
